header{
  margin-bottom: 70px;
}

.espacio{
  width:100%;
  height:20px;
}

.vertical-align{
  display: flex;
  align-items: center;
}

article{
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 3em;
}

.input-calificacion{
  border: 1px solid rgb(106, 106, 106); 
  color: rgb(106, 106, 106); 
  cursor: pointer;
  width: 30%;
}

.btn-comentario{
  background-color: white;
  border: 1px solid rgb(134, 134, 134);
}

.lista-dropdown{
  background-color: inherit;
  border: 0px;
}

.txt_estudiante{
  border: 0px;
}